.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.egg-info
.venv
.env
build
dist
data
datasets
checkpoints
outputs
third_party/*
!third_party/FoundationPose
*.tar
*.zip
*.pth
*.pt
*.ckpt

